<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  May Node and Express be with you.

  <table class="table table-striped table-bordered">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>News</th>
    </tr>
    <% for (var i = 0; i < data.length; i ++) { %>
      <tr>
        <td><%= data[i].noSerie %></td>
        <td><%= data[i].Marca %></td>
        <td><%= data[i].Tipo %></td>
      </tr>
    <% } %>
  </table>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>
</body>
</html>